body{
  background-color: #090b1a;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #ffffff;
  margin: auto;
}

h1, h2{
  font-weight: 700;
}

img{
  height: 100%;
  width: 100%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

p{
  color: #ffffff;
  color: rgba(255, 255, 255, 0.75);
  margin: 0;
}


span{
  color: #aa5cdb;
}

.container{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 80px auto;
  overflow: hidden;
  width: 90%;
  max-width: 324.094px;
}

.discover{
  line-height: 1.8em;
  margin: 0 auto;
  text-align: center;
  width: 260px;
}

.info-div{
  background-color: #1b1938;
  order: 2;
}

.insights{
  width: 300px;
  margin: 32px auto 22px;
  text-align: center;
}

.overlay{
  background-color: #aa5cdb;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position:absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.photo-div{
  order: 1;
  height: 230px;
  position: relative;
}

.stats{
  text-align: center;
  margin-bottom: 2em;
}

.stat-heading{
  font-size: 20px;
  margin: 1em 0 .5em;
}

.sub-heading{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 400;
  font-size: 11px;
  letter-spacing: .1em;
}

@media (min-width: 1000px) {
  .container{
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    width: 70%;
    max-width:1140px;
  }

  .discover{
    width: auto;
    text-align: left;
    margin: 2em 0;
  }

  .info-div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item{
    width: 33.33%;
    text-align: left;
  }

  .photo-div{
    max-width: 100%;
    width: 50%;
    height: auto;
  }

  .insights{
    margin: 0 auto;
    width: auto;
    text-align: left;
  }

  .stats{
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 2em 0 0;
  }

  .text{
    flex-shrink: 1;
    position:relative;
    margin: 10%;
    width: 75%;
    height: 70%;
  }
}
